@use '../../../styles/variables.scss' as *;

.talk-container {
  padding-top: 160px;
}

.talk-body {
  display: flex;
  padding: 79px 506px 46px 507px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 86px;
  border-radius: 20px;
  overflow: hidden;

  background: var(
    --talk-bg,
    conic-gradient(
      from -9deg at 48.46% 74%,
      #b5caff 39.6deg,
      #a88aed 122.9047deg,
      #0a0a60 219.8342deg,
      #b5caff 360deg
    )
  );
}

.talk-text {
  color: var(--talk-text-color, #000);
  text-align: center;
  font-family: $font-gilroy;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.talk-btn {
  font-family: $font-gilroy;
  font-size: var(--talk-btn-size, 24px);
  color: var(--talk-btn-color, #000);
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  min-width: 170px;
  min-height: 67px;
  background-color: var(--talk-btn-bg, $sky-blue);
  padding: 19px 36px 19px 37px;
  transition: all 0.3s ease;

  &:active {
    transform: scale(0.98);
  }
}
