//global
[class*='__container'] {
  max-width: 1660px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header__container--header {
  max-width: 1860px;
}
// desktop
@media (max-width: 1440px) {
  [class*='__container'] {
    max-width: 1240px;
  }
}
// tablet
@media (max-width: 1024px) {
  [class*='__container'] {
    max-width: 960px;
  }
}
// mobile
@media (max-width: 768px) {
  [class*='__container'] {
    max-width: 720px;
  }
}
// mobile small
@media (max-width: 375px) {
  [class*='__container'] {
    max-width: none;
  }
}
