@use "./fonts";

$ivory: #fffeec;
$deep-anthracite: #0a0a60;
$indigo: #a88aed;
$sky-blue: #b5caff;
$candy-pink: #ffb2f7;
$pastel-yellow: #fdeb9f;
$pearl: #cbd83b;
$hero-background: #000000;
$hero-accent: #c8d53a;
$hero-shadow: #686e28;
$hero-gray: #c3c4bd;
$hero-badge: #ffffff;
$hero-nav-overlay: rgba(0, 0, 0, 0.3);
$text-color: #000;
$background-color: ivory;

$font-inter: "Inter", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
$font-gilroy: "Gilroy";

$button-height: 60px;
