$ivory: #fffeec;
$deep-anthracite: #0a0a60;
$indigo: #a88aed;
$sky-blue: #b5caff;
$candy-pink: #ffb2f7;
$pastel-yellow: #fdeb9f;
$pearl: #cbd83b;
$text-color: #000;
$background-color: ivory;

$font-inter: "Inter", sans-serif;
$font-montserrat: "Montserrat", sans-serif;

$button-height: 60px;
