.contact {
    height: 651px;
    left: 505px;
    position: absolute;
    top: 1711px;
    width: 1920px;
  }
  
  .contact .frame-15 {
    background-color: #23232333;
    border: 3px solid;
    border-color: #2d3233;
    border-radius: 10px;
    height: 521px;
    left: 932px;
    overflow: hidden;
    position: absolute;
    top: 65px;
    width: 858px;
  }
  
  .contact .frame-16 {
    align-items: flex-start;
    display: inline-flex;
    gap: 10px;
    left: 30px;
    position: absolute;
    top: 40px;
  }
  
  .contact .p {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
  }
  
  .contact .frame-17 {
    background-color: #1c212133;
    border: 2px solid;
    border-color: #2d3233;
    border-radius: 10px;
    height: 50px;
    left: 30px;
    overflow: hidden;
    position: absolute;
    top: 99px;
    width: 384px;
  }
  
  .contact .text-wrapper-7 {
    color: #ffffff80;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 12px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 9px;
  }
  
  .contact .frame-18 {
    background-color: #1c212133;
    border: 2px solid;
    border-color: #2d3233;
    border-radius: 10px;
    height: 50px;
    left: 30px;
    overflow: hidden;
    position: absolute;
    top: 179px;
    width: 384px;
  }
  
  .contact .frame-19 {
    background-color: #1c212133;
    border: 2px solid;
    border-color: #2d3233;
    border-radius: 10px;
    height: 113px;
    left: 30px;
    overflow: hidden;
    position: absolute;
    top: 259px;
    width: 798px;
  }
  
  .contact .frame-20 {
    background-color: #1c212133;
    border: 2px solid;
    border-color: #2d3233;
    border-radius: 10px;
    height: 50px;
    left: 444px;
    overflow: hidden;
    position: absolute;
    top: 179px;
    width: 384px;
  }
  
  .contact .frame-21 {
    background-color: #1c212133;
    border: 2px solid;
    border-color: #2d3233;
    border-radius: 10px;
    height: 50px;
    left: 444px;
    overflow: hidden;
    position: absolute;
    top: 99px;
    width: 384px;
  }
  
  .contact .frame-22 {
    align-items: center;
    background-color: #30160e;
    border: 1px solid;
    border-color: #f05512;
    border-radius: 10px;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 30px;
    overflow: hidden;
    padding: 15px 28px;
    position: absolute;
    top: 422px;
  }
  
  .contact .text-wrapper-8 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
  }
  
  .contact .frame-23 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 46px;
    left: 130px;
    overflow: hidden;
    position: absolute;
    top: 65px;
    width: 698px;
  }
  
  .contact .frame-24 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
  }
  
  .contact .text-wrapper-9 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
  }
  
  .contact .frame-25 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin-right: -20.00px;
    position: relative;
  }
  
  .contact .text-wrapper-10 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 87px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: 718px;
  }
  