@use "../styles/variables.scss" as *;

.header {
  font-family: $font-inter;
  font-weight: 400;
  padding-top: 30px;
  color: $text-color;

  &__container--header {
    display: flex;
    gap: 70px;
    flex-direction: column;
    max-width: 1660px;
    width: 100%;
    margin: 0 auto;
  }

  &__btn-spacer {
    min-height: $button-height;
  }

  &__btn {
    position: fixed;
    align-self: flex-end;
    font-size: 24px;
    border: 1px solid $deep-anthracite;
    border-radius: 10px;
    min-width: $button-height;
    min-height: 60px;
    background-color: $indigo;
    padding: 0 25px;
    transition: all 0.3s ease;

    &:hover {
      background-color: #866ebe;
    }

    &:active {
      transform: scale(0.98);
    }
  }

  &__body {
    display: flex;
    gap: 80px;
    flex-direction: column;
  }

  &__logo-bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 48px;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav__list {
    display: flex;
    min-height: 60px;
    align-content: flex-start;
    padding: 20px 40px;
    gap: 50px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    font-size: 1rem;
  }

  .nav__item {
    position: relative;
    cursor: pointer;
    padding-left: 3px;

    a {
      text-decoration: none;
      color: #000;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 2px;
      height: 0px;
      background-color: #f05512;
      transform: rotate(20deg);
      transform-origin: top left;
      transition: height 0.2s ease;
    }

    &.active::before {
      height: 100%;
    }
  }
}
