@use "../styles/variables.scss" as *;

.nav {
  font-family: $font-inter;
  position: sticky;
  top: 30px;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 50000;
}
.nav__list {
  display: flex;
  min-height: 60px;
  align-content: flex-start;
  padding: 20px 40px;
  gap: 50px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  font-size: 1rem;
}

.nav__item {
  position: relative;
  cursor: pointer;

  a {
    text-decoration: none;
    color: #000;
  }

  &::before {
    content: "";
    position: absolute;
    left: -3px;
    top: 0;
    width: 2px;
    height: 0px;
    background-color: #f05512;
    transform: rotate(20deg);
    transform-origin: top left;
    transition: height 0.2s ease;
  }

  &.active::before {
    height: 80%;
  }
}
