@use "../styles/variables.scss" as *;

.slider {
  display: flex;
  justify-content: space-evenly;
  padding-top: clamp(80px, 10vw, 150px); // динамічний відступ
  gap: clamp(50px, 10vw, 190px);
  position: relative;

  .slides {
    width: clamp(200px, 25vw, 430px);
    aspect-ratio: 430 / 640;
    position: relative;
    overflow: visible;
  }

  .slide {
    position: absolute;
    left: 50%;
    top: 0;
    width: clamp(180px, 23vw, 400px);
    aspect-ratio: 430 / 640;
    border-radius: clamp(20px, 2vw, 40px);
    padding: clamp(16px, 2vw, 30px);
    color: #fff;

    background: rgb(244, 96, 73);
    background: radial-gradient(circle, rgb(237, 55, 112) 65%, rgb(229, 118, 153) 100%);

    transform-origin: center top;
    transform: translateX(-20%) rotate(20deg);
    transition:
      transform 0.5s cubic-bezier(0.22, 0.9, 0.28, 1),
      opacity 0.5s cubic-bezier(0.22, 0.9, 0.28, 1),
      box-shadow 0.5s cubic-bezier(0.22, 0.9, 0.28, 1),
      filter 0.5s cubic-bezier(0.22, 0.9, 0.28, 1);
    will-change: transform, opacity;
    box-shadow: 0 clamp(15px, 3vw, 30px) clamp(30px, 6vw, 60px) rgba(0, 0, 0, 0.18);
    display: flex;

    &__body {
      height: 100%;
      background-color: #000;
      border-radius: clamp(10px, 1.5vw, 20px);
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: clamp(12px, 1.5vw, 24px);
    }

    .slide__title {
      margin: 0;
      font-size: clamp(18px, 2vw, 24px);
      font-weight: 700;
      color: #fff;
    }

    .slide__innerText {
      margin-top: clamp(8px, 1vw, 12px);
      color: rgba(255, 255, 255, 0.9);
      font-size: clamp(12px, 1vw, 14px);
    }
  }

  .slide.incoming {
    z-index: 1500;
    transform: translateX(-50%) translateY(-20%) rotate(-2deg);
    box-shadow: 0 clamp(25px, 4vw, 50px) clamp(50px, 8vw, 110px) rgba(0, 0, 0, 0.32);
  }

  .slide--active {
    background: radial-gradient(circle, rgba(73, 104, 244, 1) 65%, rgba(73, 235, 244, 1) 100%);
    transform: translateX(-50%) translateY(0) rotate(-2deg);
    z-index: 2000 !important;
  }

  .slide:not(.slide--active):not(.incoming) {
    z-index: 100;
    filter: blur(5px);
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: clamp(40px, 10vw, 90px);
    justify-content: center;
    align-items: flex-start;

    .menu-item {
      font-family: $font-inter;
      flex-shrink: 1;
      text-align: left;
      font-size: clamp(16px, 2vw, 36px);
      cursor: pointer;
      transition:
        color 0.35s,
        filter 0.2s,
        transform 0.2s;
      background: none;
      border: none;
      padding: 0;

      &.active {
        color: #333;
        transform: translateX(clamp(2px, 0.5vw, 6px));
      }

      &:not(.active) {
        filter: blur(2px);
      }

      &:hover {
        color: #666;
      }
    }
  }

  .pagination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(60px, 10vw, 125px);
    min-width: clamp(20px, 5vw, 40px);

    .dot {
      width: clamp(12px, 2vw, 24px);
      height: clamp(1px, 0.2vw, 2px);
      background: #cccccc;
      transition: all 0.3s;

      &.active {
        background: #000000;
        width: clamp(20px, 4vw, 40px);
      }
    }
  }
}
