@use "../styles/variables.scss" as *;

.slider {
  display: flex;
  justify-content: space-evenly;
  padding-top: 150px;
  gap: 190px;
  position: relative;

  .slides {
    width: 430px;
    height: calc(430px / (430 / 640));
    position: relative;
    overflow: visible;
  }

  .slide {
    position: absolute;
    left: 50%;
    top: 0;
    width: 430px;
    aspect-ratio: 430 / 640;
    border-radius: 40px;
    padding: 30px;
    color: #fff;

    background: rgb(244, 96, 73);
    background: radial-gradient(circle, rgb(237, 55, 112) 65%, rgb(229, 118, 153) 100%);

    transform-origin: center top;

    transform: translateX(-20%) rotate(20deg);
    transition-property: transform, opacity, box-shadow, filter;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.22, 0.9, 0.28, 1);
    will-change: transform, opacity;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.18);
    display: flex;

    &__body {
      height: 100%;
      background-color: #000;
      border-radius: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 24px;
    }

    .slide__title {
      margin: 0;
      font-size: 24px;
      font-weight: 700;
      color: #fff;
    }

    .slide__innerText {
      margin-top: 12px;
      color: rgba(255, 255, 255, 0.9);
      font-size: 14px;
    }
  }

  .slide.incoming {
    z-index: 1500;
    transform: translateX(-50%) translateY(-200px) rotate(-2deg);
    box-shadow: 0 50px 110px rgba(0, 0, 0, 0.32);
  }

  .slide--active {
    background: #4968f4;
    background: radial-gradient(circle, rgba(73, 104, 244, 1) 65%, rgba(73, 235, 244, 1) 100%);
    transform: translateX(-50%) translateY(0px) rotate(-2deg);
    z-index: 2000 !important;
  }

  .slide:not(.slide--active):not(.incoming) {
    z-index: 100;
    filter: blur(5px);
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 90px;
    justify-content: center;
    align-items: flex-start;

    .menu-item {
      font-family: $font-inter;
      flex-shrink: 1;
      text-align: left;
      font-size: clamp(1rem, 1rem + 1vw, 36px);
      cursor: pointer;
      transition:
        color 0.35s,
        filter 0.2s,
        transform 0.2s;
      background: none;
      border: none;
      padding: 0;

      &.active {
        color: #333;
        transform: translateX(6px);
      }

      &:not(.active) {
        filter: blur(2px);
      }

      &:hover {
        color: #666;
      }
    }
  }

  .pagination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 125px;
    min-width: 40px;

    .dot {
      width: 24px;
      height: 2px;
      background: #cccccc;
      transition: all 0.3s;

      &.active {
        background: #000000;
        width: 40px;
      }
    }
  }
}
